* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 250%;
    width: 100%;
    overflow-x: hidden; 
}

@font-face {
    font-family: samarkan;
    src: url(SAMAN___.ttf);
}

@font-face {
    font-family: cinzel;
    src: url(Cinzel-VariableFont_wght.ttf);
}

#navbar {
    background: linear-gradient(to right, #000000, #381041); 

    padding: 10px;
    
}


#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#navbar ul li {
    display: inline;

}

#navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

#main {
    background: linear-gradient(to right, #000000,#2f1335);    
    height: calc(100% - 40px); /* Adjust height to account for navbar */
    width: 100%;
    position: relative;
    overflow: hidden; 
}

#panel1{
    /* background-color: white; */
}

#top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-left: 10px;
}

#vidyakruti{
    position:absolute;
    top: 150px;
    left: 20px;
    font-family: samarkan;
    font-size: 80px;
    color: wheat;
}

#outer-img-container {
    position: relative;
}

#outer-img {
    width: 400px; 
    height: 400px;
    opacity: 0.2;
    animation: rotateImage 20s linear infinite;
}

#inner-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inner-img {
    width: 220px; 
    height: 220px;
    opacity: 0.2; 
}

#aims{
    display: flex;
}

#learn{
    position: absolute;
    color: beige;
    font-family: cinzel;
    top: 30%;
    font-size: 40px;
}

#connect{
    position: absolute;
    color: beige;
    font-family: cinzel;
    top: 30%;
    left: 15%;
    font-size: 40px;
}

#aspire{
    position: absolute;
    color: beige;
    font-family: cinzel;
    top: 30%;
    left: 0;
    font-size: 40px;
}
#outer-img-container-2 {
    position: relative;
}

#outer-img-2 {
    width: 200px; 
    height: 200px;
    opacity: 0.2;
    animation: rotateImage 20s linear infinite;
}

#inner-img-container-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#inner-img-2 {
    width: 120px; 
    height: 120px;
    opacity: 0.2; 
}

#aims2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#top-right{
    margin-left: 35%;
}

#dicussion-img1{
    opacity: 0.1;
}


#panel2{
    height: auto;
    width: auto;
}


#studying1{
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

#panel3{
    height: auto;
    width: auto;
}


#studying2{
    height: 100%;
    width: 100%;
    opacity: 0.1;
}

#panel4{
    height: auto;
    width: auto;
}


#studying3{
    height: 100%;
    width: 100%;
    opacity: 0.1;
}
@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
